.nav .ul{
list-style-type: none;
margin-top: 0;
padding: 0;
overflow: hidden;
background-color: rgb(254, 191, 73);
}

.nav .li{
    float: right;
}
 
.nav li a {
    display: block;
    color: rgb(144, 51, 5);
    text-align: center;
    padding: 5px 12px;
    text-decoration: underline;
    font-weight: bolder;
}

.nav li a:hover {
    background-color:orangered;
    color: black;
}

/* .name{
    padding:0 ;
    margin: 0;
    font-weight: bolder;
    color:rgb(144, 51, 5) ;
    text-align: left;
    margin-bottom: -5px;
} */

.nav li{
    display: block;
    color: rgb(144, 51, 5) ;
    text-align: left;
    /* padding: 14px 16px; */
    text-decoration: underline;
    font-weight: bolder;
}

h1{
    width: 230px;
    border: 5px solid orange;
    text-align: center;
    border-radius: 20px;
    height: 130px;
  
}
p{
    margin: 0;
    color: rgb(255, 166, 0);
}
.container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.container img{
    margin-top: 30px;
    padding-right: 10px;
    border-radius: 20px;

    height: 300px;

}

.container h1{
    text-align: center;
    
}

.cheesenaan{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
    height: 200px;
    border-radius: 20px;
    align-content: flex-end;
    
}

.card{
    width: 200px;
    
}
 .card1{
    width: 200px;
    
 }

 .card2{
    width: 200px;
    
 }
.price{
    font-weight: bolder;
    font-size: 30px;
    text-decoration: underline;
}

.button1{
    background-color: orange;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
    transition-duration: 0.4s;
    width: 150px;
}

.button1:hover{
    background-color: orangered;
}

.button1:focus{
    outline: none;
    box-shadow: 0 0 0 3px rgb(149, 255, 0);
}

.container2{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
 h2{
    text-decoration: underline;
 }

 .roghni{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
 }

 
 .container3{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
 }

 .navcontainer{
    display: flex;
    flex-direction: row;

 }


 body{
    min-width: 320px;
    min-height: 856px;
    max-width: 2560px;
    max-height: 765px;
 }

 .carousel{
    max-width: 900px;
    margin: auto;
    overflow: hidden;
    position: relative;
 }

 .carousel-wrapper{
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;
 }

 .carousel-item{
    flex: 0 0 100%;
    width: 100%;
    scroll-snap-align: center;
    position: relative;
 }

 .carousel-item img{
    width: 100%;
    height: 400px;
    display: block;
 }

 .caption{
    position: absolute;
    bottom: 0;
    background-color: orange;
    color: black;
    width: 100%;
    padding: 15px;
    text-align: center;
    font-weight: bolder;
 }
 
 *{
    box-sizing:border-box;
 }

 input[type=text], input[type=password]
 {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background-color: orange;
 }

 input[type=text]:focus,
 input[type=password]:focus{
    background-color: orangered;
    outline: none;
 }

 hr{
    border: 1px solid orange;
    margin-bottom: 25px;
 }

 bottom{
    background-color: orange;
    color: black;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 50%;
    opacity: 0.9;
 }

 button:hover{
    opacity: 1;
 }

 .cancelbtn{
    padding: 14px 20px;
    background-color: orange;
    height: 40px;
    font-weight: bolder;
 }

 .signupbtn{
    padding: 14px 20px;
    background-color: orange;
    width: 100px;
    height: 40px;
    text-align: center;
    font-size: 13px;
    font-weight: bolder;
 }

 .cancelbtn .signupbtn{
    float: left;
    width: 50%;
    border-radius: 20px;
 }

 .clearfix::after{
       content: "";
       clear: both;
       display: table;
 }

 @media screen and (max-width:300px){
    .cancelbtn, .signupbtn {
        width: 100%;
    }
 }

 .container0{
    width: 400px;
    border: 5px solid orange;
    border-radius: 8px;
    margin-left: 580px;
 }
 .signup{
    text-align: center;
    margin-left: 85px;
    height: 80px;
    text-decoration: underline;
 }

 .search{
   width: 100px;
   height: 100px;
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
 }

 .searchbtn{
   background-color: orange;
    border: none;
    color: black;
    padding: 8px 23px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: -100px 30px;
    cursor: pointer;
    border-radius: 8px;
    transition-duration: 0.4s;
    width: 100px;
 }

 .searchbtn:hover{
   background-color: orangered;
 }

 .searchbtn:focus{
   outline: none;
  box-shadow: 0 0 0 3px orange; 
 }

 .howwework p{
   text-align: center;
   width: 250px;
   margin-left: 580px;
 }

 .head1{
   text-align: center;
   text-decoration: underline;
   font-weight: bold;
   margin-left: 580px;
 }

 .Termsandcondition p{
            text-align: center;
            width: 250px;
            margin-left: 580px;
 }

 .tc{
   width: 290px;
   margin-left: 580px;
   text-align: center;
   text-decoration: underline;
   font-weight: bold;
 }

 .head3{
     margin-left: 580px;
     text-align: center;
     text-decoration: underline;
     font-weight: bold;
 }

.pp{
   width: 250px;
   text-align: center;
   margin-left: 580px;
}

.fade-loop h1{
  animation: fadeInOut 3s infinite;
}

@keyframes fadeInOut {
   0%, 100% {opacity: 0;}
   50% {opacity: 1;}
}


.container h1{
  animation: fadeInOut 3s infinite;
}

@keyframes fadeInOut {
   0%, 100% {opacity: 0;}
   50% {opacity: 1;}
}

